<%- include('partials/header') %>

<div style="text-align: center; padding: 50px;">
    <h1 style="font-size: 3rem; color: #dc3545;">404</h1>
    <h3><%= __('404_title') %></h3>
    <p><%= __('404_msg') %></p>
    <br>
    <a href="/" class="btn"><%= __('go_home') %></a>
</div>

<%- include('partials/footer') %>